# Bioinformatics: network biology project

## Crema Fernando, Puy Tapia Alba, Rossini Valerio

### 2. Collect basic information about seed genes

#### we have collected the basic information about seed genes in a csv called ex2, that we have imported as follow:

In [1]:
import pandas as pd
df_r = pd.read_csv("C:\\Users\\valer\\Documents\\datascience\\bio_data\\ex2.csv", sep=';')[0:24]
df_r.drop(["Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10",
           "Unnamed: 11", "Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "\ufeff"], inplace = True, axis = 1)

In [2]:
df_r["Entrez Gene ID"] = df_r["Entrez Gene ID"].astype(int)

In [3]:
df_r

,official gene symbol,Uniprot AC,Uniprot ID,protein name,Entrez Gene ID,description of its function
0,ADCY3,O60266,ADCY3_HUMAN,Adenylate cyclase type 3,109,Catalyzes the formation of the signaling molec...
1,CXCR2,P25025,CXCR2_HUMAN,C-X-C chemokine receptor type 2,3579,Receptor for interleukin-8 which is a powerful...
2,DNMT3B,Q9UBC3,DNM3B_HUMAN,DNA (cytosine-5)-methyltransferase 3B,1789,Required for genome-wide de novo methylation a...
3,FAP,Q12884,SEPR_HUMAN,Prolyl endopeptidase FAP,2191,Cell surface glycoprotein serine protease that...
4,FOS,P01100,FOS_HUMAN,Proto-oncogene c-Fos,2353,Nuclear phosphoprotein which forms a tight but...
5,FUT2,\tQ10981,FUT2_HUMAN,Galactoside 2-alpha-L-fucosyltransferase 2,2524,Mediates the transfer of fucose to the termina...
6,GPR35,Q9HC97,GPR35_HUMAN,G-protein coupled receptor 35,2859,"Acts as a receptor for kynurenic acid, an inte..."
7,IFIH1,Q9BYX4,IFIH1_HUMAN,Interferon-induced helicase C domain-containin...,64135,Innate immune receptor which acts as a cytopla...
8,IL23R,Q5VWK5,IL23R_HUMAN,Interleukin-23 receptor,149233,Associates with IL12RB1 to form the interleuki...
9,IL27,Q8NEV9,IL27A_HUMAN,Interleukin-27 subunit alpha,246778,Associates with EBI3 to form the IL-27 interle...
10,IL2RA,P01589,IL2RA_HUMAN,Interleukin-2 receptor subunit alpha,3559,Receptor for interleukin-2. The receptor is in...
11,KEAP1,\tQ14145,KEAP1_HUMAN,Kelch-like ECH-associated protein 1,9817,Acts as a substrate adapter protein for the E3...
12,LCE3B,\tQ5TA77,LCE3B_HUMAN,Late cornified envelope protein 3B,353143,Precursors of the cornified envelope of the st...
13,NFKB1,\tP19838,NFKB1_HUMAN,Nuclear factor NF-kappa-B p105 subunit,4790,NF-kappa-B is a pleiotropic transcription fact...
14,NXPE1,Q8N323,NXPE1_HUMAN,NXPE family member 1,120400,Not Found in uniprot
15,OR5B21,A6NL26,OR5BL_HUMAN,Olfactory receptor 5B21,219968,Odorant receptor
16,OSMR,Q99650,OSMR_HUMAN,Oncostatin-M-specific receptor subunit beta,9180,Associates with IL31RA to form the IL31 recept...
17,PTPN2,P17706,PTN2_HUMAN,Tyrosine-protein phosphatase non-receptor type 2,5771,Non-receptor type tyrosine-specific phosphatas...
18,RAVER1,Q8IY67,RAVR1_HUMAN,Ribonucleoprotein PTB-binding 1,125950,Cooperates with PTBP1 to modulate regulated al...
19,RNF186,Q9NXI6,RN186_HUMAN,RING finger protein 186,54546,Not provided
20,RPS6KB1,P23443,KS6B1_HUMAN,Ribosomal protein S6 kinase beta-1,6198,Serine/threonine-protein kinase that acts down...
21,SH2B3,Q9UQQ2,Q9UQQ2_HUMAN,SH2B adapter protein 3,10019,Links T-cell receptor activation signal to pho...
22,TNFRSF6B,O95407,O95407_HUMAN,Tumor necrosis factor receptor superfamily mem...,8771,Decoy receptor that can neutralize the cytotox...
23,TYK2,P29597,P29597_HUMAN,Non-receptor tyrosine-protein kinase TYK2,7297,Probably involved in intracellular signal tran...

### 3. Collect interaction data

#### For each seed gene, we need to collect all binary protein interactions from three different PPI sources, so we have written some functions to collect them. we also kept them in a dataframe described below

# Retriving the current directory

In [4]:
import os
cwd = os.getcwd()
print(cwd)
current_folder = "APID"
print(cwd + "\\bio_data\\" + current_folder)

C:\Users\valer\Documents\datascience
C:\Users\valer\Documents\datascience\bio_data\APID

# General function to retrieve files in dir

In [5]:
def read_files_from_dir(path, c_dir, format_file=".tsv"):
    from os import listdir
    from os.path import isfile, join

    mypath = path + c_dir

    onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

    files_to_open = list(filter(lambda x: format_file in x, onlyfiles))
    
    return files_to_open

# General function to read files and concatenate interaction

In [6]:
def create_interactions(path, c_dir, columns, files, name):
    import pandas as pd

    frames = []

    for i in files:
        s = path+c_dir+"\\"+i
        print(s)
        frames.append(pd.read_csv(s, sep="\t", header=0)[columns])

    result = pd.concat(frames)

    result.reset_index(inplace=True)

    result.drop("index", axis=1, inplace=True)

    result.to_csv(path+"\\"+name, sep="\t", header=1)

# Treating APID folder

#### we dowload from APID web page all the information of the interations of the seed genes provided and merge them in a table called apid_all.tsv

In [7]:
to_open_APID = read_files_from_dir(path=cwd + "\\bio_data\\",c_dir="APID", format_file=".txt")
                   
print(to_open_APID)

['ADCY3.txt', 'CXCR2.txt', 'DNMT3B.txt', 'FAP.txt', 'FOS.txt', 'FUT2.txt', 'GPR35.txt', 'IFIH1.txt', 'IL23R.txt', 'IL27.txt', 'IL2RA.txt', 'KEAP1.txt', 'LCE3B.txt', 'NFKB1.txt', 'OSMR.txt', 'PTPN2.txt', 'RAVER1.txt', 'RNF186.txt', 'RPS6KB1.txt', 'SH2B3.txt', 'TNFRSF6B.txt', 'TYK2.txt']

In [8]:
create_interactions(path=cwd + "\\bio_data\\",
                    c_dir="APID", 
                    columns=["UniprotID_A","UniprotID_B", "GeneName_A", "GeneName_B"], 
                    files=to_open_APID, 
                    name="apid_all.tsv")

C:\Users\valer\Documents\datascience\bio_data\APID\ADCY3.txt
C:\Users\valer\Documents\datascience\bio_data\APID\CXCR2.txt
C:\Users\valer\Documents\datascience\bio_data\APID\DNMT3B.txt
C:\Users\valer\Documents\datascience\bio_data\APID\FAP.txt
C:\Users\valer\Documents\datascience\bio_data\APID\FOS.txt
C:\Users\valer\Documents\datascience\bio_data\APID\FUT2.txt
C:\Users\valer\Documents\datascience\bio_data\APID\GPR35.txt
C:\Users\valer\Documents\datascience\bio_data\APID\IFIH1.txt
C:\Users\valer\Documents\datascience\bio_data\APID\IL23R.txt
C:\Users\valer\Documents\datascience\bio_data\APID\IL27.txt
C:\Users\valer\Documents\datascience\bio_data\APID\IL2RA.txt
C:\Users\valer\Documents\datascience\bio_data\APID\KEAP1.txt
C:\Users\valer\Documents\datascience\bio_data\APID\LCE3B.txt
C:\Users\valer\Documents\datascience\bio_data\APID\NFKB1.txt
C:\Users\valer\Documents\datascience\bio_data\APID\OSMR.txt
C:\Users\valer\Documents\datascience\bio_data\APID\PTPN2.txt
C:\Users\valer\Documents\datascience\bio_data\APID\RAVER1.txt
C:\Users\valer\Documents\datascience\bio_data\APID\RNF186.txt
C:\Users\valer\Documents\datascience\bio_data\APID\RPS6KB1.txt
C:\Users\valer\Documents\datascience\bio_data\APID\SH2B3.txt
C:\Users\valer\Documents\datascience\bio_data\APID\TNFRSF6B.txt
C:\Users\valer\Documents\datascience\bio_data\APID\TYK2.txt

In [9]:
cwd + "\\bio_data\\"

'C:\\Users\\valer\\Documents\\datascience\\bio_data\\'

# Treating STRING

#### we dowload from STRING web page all the information of the interations of the seed genes provided and merge them in a table called string_all.tsv

In [10]:
current_folder = "STRING"
print(cwd + "\\bio_data\\" + current_folder)

C:\Users\valer\Documents\datascience\bio_data\STRING

In [11]:
to_open_STRING = read_files_from_dir(path=cwd + "\\bio_data\\",c_dir="STRING", format_file=".tsv")
                   
print(to_open_STRING)

['ADCY3.tsv', 'all.tsv', 'CXCR2.tsv', 'DNMT3B.tsv', 'FAP.tsv', 'FOS.tsv', 'FUT2.tsv', 'GPR35.tsv', 'IFIH1.tsv', 'IL23R.tsv', 'IL27.tsv', 'IL2RA.tsv', 'KEAP1.tsv', 'NFKB1.tsv', 'NXPE1.tsv', 'OR5B21.tsv', 'OSMR.tsv', 'PTPN2.tsv', 'RAVER1.tsv', 'RPS6KB1.tsv', 'SH2B3.tsv', 'TNFRSF6B.tsv', 'TYK2.tsv']

In [12]:
create_interactions(path=cwd + "\\bio_data\\",
                    c_dir="STRING", 
                    columns=["#node1","node2"], 
                    files=to_open_STRING, 
                    name="string_all.tsv")

C:\Users\valer\Documents\datascience\bio_data\STRING\ADCY3.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\all.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\CXCR2.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\DNMT3B.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\FAP.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\FOS.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\FUT2.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\GPR35.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\IFIH1.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\IL23R.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\IL27.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\IL2RA.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\KEAP1.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\NFKB1.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\NXPE1.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\OR5B21.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\OSMR.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\PTPN2.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\RAVER1.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\RPS6KB1.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\SH2B3.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\TNFRSF6B.tsv
C:\Users\valer\Documents\datascience\bio_data\STRING\TYK2.tsv

biiiiiiiiiiiiiiiiiooooooooooooooooooooooo

#### Summarize the main results in a table reporting:
    a) no. of seed genes found in each different DBs (some seed genes may be missing
    in some of the DBs);
    b) total no. of interacting proteins, including seed genes, for each DB;
    c) total no. of interactions found in each DB.

#### first we are going to count the total number of interating proteins including seed genes for each database

#### APID

In [13]:
df_APID = pd.read_csv("C:\\Users\\valer\\Documents\\datascience\\bio_data\\apid_all.tsv", sep="\t")
df_APID.drop("Unnamed: 0", inplace = True, axis = 1)
df_APID.columns
df_APID.head()

  UniprotID_A UniprotID_B GeneName_A GeneName_B
0      Q13555      O60266     CAMK2G      ADCY3
1      Q8TAV4      O60266     STOML3      ADCY3
2      P07550      O60266      ADRB2      ADCY3
3      Q9HBU9      O60266     POPDC2      ADCY3
4      P17931      O60266     LGALS3      ADCY3

In [14]:
Autoinflammatory_diseases =["ADCY3", "CXCR2", "DNMT3B", "FAP", "FOS", "FUT2", "GPR35", "IFIH1", 
                            "IL23R", "IL27", "IL2RA", "KEAP1", "LCE3B", "NFKB1", "NXPE1", "OR5B21",
                            "OSMR", "PTPN2", "RAVER1", "RNF186", "RPS6KB1", "SH2B3", "TNFRSF6B", "TYK2"]

#### these are proteins-proteins interations

In [15]:
a=df_APID[(df_APID["GeneName_A"].isin(Autoinflammatory_diseases)==False)] 
b = a[(a["GeneName_B"].isin(Autoinflammatory_diseases)==False)]

#### these are proteins-genes interations

In [16]:
c=df_APID[(df_APID["GeneName_A"].isin(Autoinflammatory_diseases)==False)] 
d = c[(c["GeneName_B"].isin(Autoinflammatory_diseases)==True)]

#### these are genes-proteins interations

In [17]:
e=df_APID[(df_APID["GeneName_A"].isin(Autoinflammatory_diseases)==True)] 
f = e[(e["GeneName_B"].isin(Autoinflammatory_diseases)==False)]

#### we merged these three interations in a single dataframe called df_interacting_proteins_APID

In [18]:
df_interacting_proteins_APID = pd.concat([b,d,f])
df_interacting_proteins_APID.reset_index(inplace=True)
df_interacting_proteins_APID.drop("index", inplace = True, axis = 1)

#### STRING

In [19]:
df_STRING = pd.read_csv("C:\\Users\\valer\\Documents\\datascience\\bio_data\\string_all.tsv", sep="\t")
df_STRING.drop("Unnamed: 0", inplace = True, axis = 1)
df_STRING.columns
df_STRING.head()

   #node1   node2
0  PRKACB  PRKACA
1   PDE4B  PRKACA
2  PRKACB   ADCY3
3  PRKACA   ADCY3
4  PRKACG   ADCY3

#### these are proteins-proteins interations

In [20]:
a=df_STRING[(df_STRING["#node1"].isin(Autoinflammatory_diseases)==False)] 
b = a[(a["node2"].isin(Autoinflammatory_diseases)==False)]

#### these are proteins-genes interations

In [21]:
c=df_STRING[(df_STRING["#node1"].isin(Autoinflammatory_diseases)==False)] 
d = c[(c["node2"].isin(Autoinflammatory_diseases)==True)]

#### these are genes-proteins interations

In [22]:
e=df_STRING[(df_STRING["#node1"].isin(Autoinflammatory_diseases)==True)] 
f = e[(e["node2"].isin(Autoinflammatory_diseases)==False)]

#### we merged these three interations in a single dataframe called df_interacting_proteins_STRING

In [23]:
df_interacting_proteins_STRING = pd.concat([b,d,f])
df_interacting_proteins_STRING.reset_index(inplace=True)
df_interacting_proteins_STRING.drop("index", inplace = True, axis = 1)
df_interacting_proteins_STRING.head()

   #node1   node2
0  PRKACB  PRKACA
1   PDE4B  PRKACA
2  PRKACB   PDE4B
3  PRKACG   PDE4B
4  PRKACG  PRKACA

biiiiiiiiiiiiiiiiiiiiiiooooooooooooooooooooooooooooo

#### to compute the number of seed genes in each different database, we used add the number of files that we have download from each webpage. to compute the number of interation from each database we just counted the rows at the _all_ table

In [24]:
d = {'3.3.A Number of seed genes' : [len(to_open_APID), len(to_open_STRING), 100000], 
     '3.3.B Number of interating proteins' : [df_interacting_proteins_APID.shape[0], df_interacting_proteins_STRING.shape[0], 100000],
    '3.3.C Number of interations' : [df_APID.shape[0], df_STRING.shape[0], 100000]}
pd.DataFrame(d, index=['APID', 'STRING', 'BIOGRID'])

,3.3.A Number of seed genes,3.3.B Number of interating proteins,3.3.C Number of interations
APID,22,9779,9802
STRING,23,1440,1446
BIOGRID,100000,100000,100000

## 4. arrange interation data

In [25]:
a=df_APID[(df_APID["GeneName_A"].isin(Autoinflammatory_diseases)==True)] 
b = a[(a["GeneName_B"].isin(Autoinflammatory_diseases)==True)]

In [26]:
aa=df_STRING[(df_STRING["#node1"].isin(Autoinflammatory_diseases)==True)] 
bb = aa[(aa["node2"].isin(Autoinflammatory_diseases)==True)]

In [27]:
b.head()

     UniprotID_A UniprotID_B GeneName_A GeneName_B
61        P25025      P25025      CXCR2      CXCR2
644       Q12884      Q12884        FAP        FAP
814       P01100      P01100        FOS        FOS
855       P01100      P19838        FOS      NFKB1
1229      P19838      P19838      NFKB1      NFKB1

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
b["database"] = ["APID"]*b.shape[0]
b.head()

     UniprotID_A UniprotID_B GeneName_A GeneName_B database
61        P25025      P25025      CXCR2      CXCR2     APID
644       Q12884      Q12884        FAP        FAP     APID
814       P01100      P01100        FOS        FOS     APID
855       P01100      P19838        FOS      NFKB1     APID
1229      P19838      P19838      NFKB1      NFKB1     APID

In [30]:
bb.head()

     #node1 node2
359    IL27  TYK2
559    OSMR  TYK2
610   PTPN2  TYK2
1057   IL27  TYK2
1257   OSMR  TYK2

In [31]:
bb["database"] = ["STRING"]*bb.shape[0]
bb

     #node1 node2 database
359    IL27  TYK2   STRING
559    OSMR  TYK2   STRING
610   PTPN2  TYK2   STRING
1057   IL27  TYK2   STRING
1257   OSMR  TYK2   STRING
1308  PTPN2  TYK2   STRING

In [32]:
cc=bb.copy()
cc.rename(columns={'#node1': 'GeneName_A', 'node2': 'GeneName_B'}, inplace=True)

In [33]:
cc

     GeneName_A GeneName_B database
359        IL27       TYK2   STRING
559        OSMR       TYK2   STRING
610       PTPN2       TYK2   STRING
1057       IL27       TYK2   STRING
1257       OSMR       TYK2   STRING
1308      PTPN2       TYK2   STRING

In [34]:
u_list = []
for i in cc["GeneName_A"].values:
    u_list.append(df_r[df_r["official gene symbol"]==i]["Uniprot AC"].values[0])
u_list

['Q8NEV9', 'Q99650', 'P17706', 'Q8NEV9', 'Q99650', 'P17706']

In [35]:
cc["UniprotID_A"] = u_list
cc

     GeneName_A GeneName_B database UniprotID_A
359        IL27       TYK2   STRING      Q8NEV9
559        OSMR       TYK2   STRING      Q99650
610       PTPN2       TYK2   STRING      P17706
1057       IL27       TYK2   STRING      Q8NEV9
1257       OSMR       TYK2   STRING      Q99650
1308      PTPN2       TYK2   STRING      P17706

In [36]:
u1_list = []
for i in cc["GeneName_B"].values:
    u1_list.append(df_r[df_r["official gene symbol"]==i]["Uniprot AC"].values[0])
u1_list

['P29597', 'P29597', 'P29597', 'P29597', 'P29597', 'P29597']

In [37]:
cc["UniprotID_B"] = u1_list
cc

     GeneName_A GeneName_B database UniprotID_A UniprotID_B
359        IL27       TYK2   STRING      Q8NEV9      P29597
559        OSMR       TYK2   STRING      Q99650      P29597
610       PTPN2       TYK2   STRING      P17706      P29597
1057       IL27       TYK2   STRING      Q8NEV9      P29597
1257       OSMR       TYK2   STRING      Q99650      P29597
1308      PTPN2       TYK2   STRING      P17706      P29597

In [38]:
cc.columns

Index(['GeneName_A', 'GeneName_B', 'database', 'UniprotID_A', 'UniprotID_B'], dtype='object')

In [39]:
columns_to_change = ["UniprotID_A", "UniprotID_B", "GeneName_A", "GeneName_B","database"]

In [40]:
cc = cc[columns_to_change]

In [41]:
cc

     UniprotID_A UniprotID_B GeneName_A GeneName_B database
359       Q8NEV9      P29597       IL27       TYK2   STRING
559       Q99650      P29597       OSMR       TYK2   STRING
610       P17706      P29597      PTPN2       TYK2   STRING
1057      Q8NEV9      P29597       IL27       TYK2   STRING
1257      Q99650      P29597       OSMR       TYK2   STRING
1308      P17706      P29597      PTPN2       TYK2   STRING

In [42]:
b.head()

     UniprotID_A UniprotID_B GeneName_A GeneName_B database
61        P25025      P25025      CXCR2      CXCR2     APID
644       Q12884      Q12884        FAP        FAP     APID
814       P01100      P01100        FOS        FOS     APID
855       P01100      P19838        FOS      NFKB1     APID
1229      P19838      P19838      NFKB1      NFKB1     APID

In [43]:
seed_genes_interactome = pd.concat([b,cc])
seed_genes_interactome.reset_index(inplace=True)
print(seed_genes_interactome.shape)
seed_genes_interactome.head()

(29, 6)

   index UniprotID_A UniprotID_B GeneName_A GeneName_B database
0     61      P25025      P25025      CXCR2      CXCR2     APID
1    644      Q12884      Q12884        FAP        FAP     APID
2    814      P01100      P01100        FOS        FOS     APID
3    855      P01100      P19838        FOS      NFKB1     APID
4   1229      P19838      P19838      NFKB1      NFKB1     APID

In [44]:
c=df_APID[(df_APID["GeneName_A"].isin(Autoinflammatory_diseases)==False)] 
d = c[(c["GeneName_B"].isin(Autoinflammatory_diseases)==True)]
e=df_APID[(df_APID["GeneName_A"].isin(Autoinflammatory_diseases)==True)] 
f = e[(e["GeneName_B"].isin(Autoinflammatory_diseases)==False)]

union_interactome_APID = pd.concat([d,f])
union_interactome_APID.reset_index(inplace=True)
union_interactome_APID.drop("index", inplace = True, axis = 1)
union_interactome_APID["database"] = ["APID"]*union_interactome_APID.shape[0]
union_interactome_APID.head()

  UniprotID_A UniprotID_B GeneName_A GeneName_B database
0      Q13555      O60266     CAMK2G      ADCY3     APID
1      Q8TAV4      O60266     STOML3      ADCY3     APID
2      P07550      O60266      ADRB2      ADCY3     APID
3      Q9HBU9      O60266     POPDC2      ADCY3     APID
4      P17931      O60266     LGALS3      ADCY3     APID

In [45]:
c=df_STRING[(df_STRING["#node1"].isin(Autoinflammatory_diseases)==False)] 
d = c[(c["node2"].isin(Autoinflammatory_diseases)==True)]
e=df_STRING[(df_STRING["#node1"].isin(Autoinflammatory_diseases)==True)] 
f = e[(e["node2"].isin(Autoinflammatory_diseases)==False)]
union_interactome_STRING = pd.concat([d,f])
union_interactome_STRING.reset_index(inplace=True)
union_interactome_STRING.drop("index", inplace = True, axis = 1)
union_interactome_STRING["database"] = ["STRING"]*union_interactome_STRING.shape[0]
union_interactome_STRING.head()

   #node1  node2 database
0  PRKACB  ADCY3   STRING
1  PRKACA  ADCY3   STRING
2  PRKACG  ADCY3   STRING
3   PDE4C  ADCY3   STRING
4  PDE10A  ADCY3   STRING

In [46]:
union_interactome_STRING.rename(columns={'#node1': 'GeneName_A', 'node2': 'GeneName_B'}, inplace=True)
union_interactome_STRING

    GeneName_A GeneName_B database
0       PRKACB      ADCY3   STRING
1       PRKACA      ADCY3   STRING
2       PRKACG      ADCY3   STRING
3        PDE4C      ADCY3   STRING
4       PDE10A      ADCY3   STRING
5        PDE4D      ADCY3   STRING
6        PDE4B      ADCY3   STRING
7        PDE7A      ADCY3   STRING
8        PDE4A      ADCY3   STRING
9        PDE6B      ADCY3   STRING
10      PRKACB      ADCY3   STRING
11      PRKACA      ADCY3   STRING
12      PRKACG      ADCY3   STRING
13       PDE4C      ADCY3   STRING
14      PDE10A      ADCY3   STRING
15       PDE4D      ADCY3   STRING
16       PDE4B      ADCY3   STRING
17       PDE7A      ADCY3   STRING
18       PDE4A      ADCY3   STRING
19       PDE6B      ADCY3   STRING
20       CXCL1      CXCR2   STRING
21       CXCL2      CXCR2   STRING
22       ARRB1      CXCR2   STRING
23       GNA14      CXCR2   STRING
24        FPR2      CXCR2   STRING
25      PPP2CA      CXCR2   STRING
26       H2AFX     DNMT3B   STRING
27       RBBP4     DNMT3B   STRING
28       RBBP7     DNMT3B   STRING
29       HDAC2     DNMT3B   STRING
..         ...        ...      ...
406      IL2RA     NFATC1   STRING
407      IL2RA       GZMB   STRING
408      NFKB1     NFKBIA   STRING
409      NFKB1       BCL3   STRING
410      NFKB1       RELB   STRING
411      NXPE1       MLH1   STRING
412     OR5B21       GNAL   STRING
413     OR5B21      GNGT1   STRING
414     OR5B21     ADRBK2   STRING
415     OR5B21     PRKACA   STRING
416     OR5B21     ADRBK1   STRING
417       OSMR        OSM   STRING
418       TYK2        IL6   STRING
419       TYK2        OSM   STRING
420       OSMR        IL6   STRING
421       TYK2      STAT3   STRING
422      PTPN2      STAT3   STRING
423      PTPN2     STAT5B   STRING
424      PTPN2      STAT6   STRING
425     RAVER1      EIF4H   STRING
426     RAVER1       DDX1   STRING
427    RPS6KB1      MAPK1   STRING
428      SH2B3        KIT   STRING
429      SH2B3      SOCS3   STRING
430      SH2B3       EPOR   STRING
431      SH2B3        EPO   STRING
432      SH2B3      KITLG   STRING
433      SH2B3       GRB2   STRING
434      SH2B3      SH2B1   STRING
435   TNFRSF6B      FASLG   STRING

[436 rows x 3 columns]

In [47]:
u_list = []
for i in union_interactome_STRING["GeneName_A"].values:
    if i in df_r["official gene symbol"].values:
        u_list.append(df_r[df_r["official gene symbol"]==i]["Uniprot AC"].values[0])
    else:
        u_list.append("NaN")

In [48]:
u1_list = []
for i in union_interactome_STRING["GeneName_B"].values:
    if i in df_r["official gene symbol"].values:
        u1_list.append(df_r[df_r["official gene symbol"]==i]["Uniprot AC"].values[0])
    else:
        u1_list.append("NaN")

In [49]:
union_interactome_STRING["UniprotID_A"] = u_list
union_interactome_STRING["UniprotID_B"] = u_list

In [50]:
columns_to_change = ["UniprotID_A", "UniprotID_B", "GeneName_A", "GeneName_B","database"]
union_interactome_STRING = union_interactome_STRING[columns_to_change]

In [51]:
union_interactome = pd.concat([union_interactome_APID,union_interactome_STRING])

In [52]:
union_interactome.head()

  UniprotID_A UniprotID_B GeneName_A GeneName_B database
0      Q13555      O60266     CAMK2G      ADCY3     APID
1      Q8TAV4      O60266     STOML3      ADCY3     APID
2      P07550      O60266      ADRB2      ADCY3     APID
3      Q9HBU9      O60266     POPDC2      ADCY3     APID
4      P17931      O60266     LGALS3      ADCY3     APID

In [53]:
union_interactome_APID_gene = union_interactome_APID[["GeneName_A", "GeneName_B"]]

In [54]:
union_interactome_STRING_gene = union_interactome_STRING[["GeneName_A", "GeneName_B"]]

In [55]:
a=union_interactome_APID_gene.values
b=union_interactome_STRING_gene.values
a

array([['CAMK2G', 'ADCY3'],
       ['STOML3', 'ADCY3'],
       ['ADRB2', 'ADCY3'],
       ...,
       ['TYK2', 'ALYREF'],
       ['TYK2', 'SIAH2'],
       ['TYK2', 'UBE2L6']], dtype=object)

In [56]:
# for i in range(len(union_interactome_APID_gene)):
#     for j in range(len(union_interactome_STRING_gene)):
#         print(union_interactome_APID_gene[i, union_interactome_APID_gene.GeneName_A])

In [57]:
intersection_interactome = union_interactome_APID.merge(union_interactome_STRING_gene)

In [58]:
intersection_interactome.columns

Index(['UniprotID_A', 'UniprotID_B', 'GeneName_A', 'GeneName_B', 'database'], dtype='object')

In [59]:
intersection_interactome.drop("database",axis=1,inplace=True)
intersection_interactome

    UniprotID_A UniprotID_B GeneName_A GeneName_B
0        P09341      P25025      CXCL1      CXCR2
1        P09341      P25025      CXCL1      CXCR2
2        Q7Z6Z7      Q12884      HUWE1        FAP
3        Q7Z6Z7      Q12884      HUWE1        FAP
4        Q04206      P19838       RELA      NFKB1
5        Q04206      P19838       RELA      NFKB1
6        Q04206      P19838       RELA      NFKB1
7        Q04206      P19838       RELA      NFKB1
8        Q14164      Q9BYX4      IKBKE      IFIH1
9        Q14164      Q9BYX4      IKBKE      IFIH1
10       Q15366      Q9BYX4      PCBP2      IFIH1
11       Q15366      Q9BYX4      PCBP2      IFIH1
12       Q7Z434      Q9BYX4       MAVS      IFIH1
13       Q7Z434      Q9BYX4       MAVS      IFIH1
14       Q9H1Y0      Q9BYX4       ATG5      IFIH1
15       Q9H1Y0      Q9BYX4       ATG5      IFIH1
16       Q9H1Y0      Q9BYX4       ATG5      IFIH1
17       Q9H1Y0      Q9BYX4       ATG5      IFIH1
18       P42701      Q5VWK5    IL12RB1      IL23R
19       P42701      Q5VWK5    IL12RB1      IL23R
20       Q9Y297      Q14145       BTRC      KEAP1
21       Q9Y297      Q14145       BTRC      KEAP1
22       D6R9G5      Q14145      KLHL2      KEAP1
23       D6R9G5      Q14145      KLHL2      KEAP1
24       Q04864      P19838        REL      NFKB1
25       Q04864      P19838        REL      NFKB1
26       P33527      Q8IY67      ABCC1     RAVER1
27       P33527      Q8IY67      ABCC1     RAVER1
28       P54819      Q8IY67        AK2     RAVER1
29       P54819      Q8IY67        AK2     RAVER1
..          ...         ...        ...        ...
98       Q8NEV9      Q14213       IL27       EBI3
99       Q8NEV9      Q14213       IL27       EBI3
100      Q8NEV9      Q6UWB1       IL27     IL27RA
101      Q8NEV9      Q6UWB1       IL27     IL27RA
102      P01589      P14784      IL2RA      IL2RB
103      P01589      P14784      IL2RA      IL2RB
104      P01589      P40763      IL2RA      STAT3
105      P01589      P40763      IL2RA      STAT3
106      P01589      P40763      IL2RA      STAT3
107      P01589      P40763      IL2RA      STAT3
108      P01589      P60568      IL2RA        IL2
109      P01589      P60568      IL2RA        IL2
110      P19838      P25963      NFKB1     NFKBIA
111      P19838      P25963      NFKB1     NFKBIA
112      Q99650      P13725       OSMR        OSM
113      Q99650      P13725       OSMR        OSM
114      P17706      P40763      PTPN2      STAT3
115      P17706      P40763      PTPN2      STAT3
116      P17706      P42226      PTPN2      STAT6
117      P17706      P42226      PTPN2      STAT6
118      P17706      P51692      PTPN2     STAT5B
119      P17706      P51692      PTPN2     STAT5B
120      P23443      P28482    RPS6KB1      MAPK1
121      P23443      P28482    RPS6KB1      MAPK1
122      Q9UQQ2      P10721      SH2B3        KIT
123      Q9UQQ2      P10721      SH2B3        KIT
124      Q9UQQ2      P62993      SH2B3       GRB2
125      Q9UQQ2      P62993      SH2B3       GRB2
126      O95407      P48023   TNFRSF6B      FASLG
127      O95407      P48023   TNFRSF6B      FASLG

[128 rows x 4 columns]